In [159]:
import pandas as pd

# 1. Изначальное число конструкций

## 1.1. На всей коллекции документов

In [160]:
nums = []
for n in range(3, 7):
    df = pd.read_csv(f"./outcome files/dev_train_test/all_count_{n}_grams.csv", sep=",", low_memory=False)
    num = df.shape[0]
    nums.append(num)
    print(f"{n}-граммы:", num)

print("Всего:", sum(nums))

3-граммы: 10831
4-граммы: 75126
5-граммы: 237452
6-граммы: 461198
Всего: 784607

## 1.2. Без test

In [161]:
nums = []
for n in range(3, 7):
    df = pd.read_csv(f"./outcome files/dev_train/all_count_{n}_grams.csv", sep=",", low_memory=False)
    num = df.shape[0]
    nums.append(num)
    print(f"{n}-граммы:", num)

print("Всего:", sum(nums))

3-граммы: 10557
4-граммы: 71592
5-граммы: 221790
6-граммы: 423614
Всего: 727553

# 2. Число шаблонов

## 2.1. На всей коллекции документов

In [162]:
nums = []
for n in range(3, 7):
    df = pd.read_csv(f"./outcome files/dev_train_test/all_order_entries_and_reltypes_{n}.csv", sep=",", low_memory=False)
    num = df.shape[0]
    nums.append(num)
    print(f"{n}-граммы:", num)

print("Всего:", sum(nums))

3-граммы: 2874
4-граммы: 22114
5-граммы: 96735
6-граммы: 256716
Всего: 378439

## 2.2. Без test

In [163]:
nums = []
for n in range(3, 7):
    df = pd.read_csv(f"./outcome files/dev_train/all_order_entries_and_reltypes_{n}.csv", sep=",", low_memory=False)
    num = df.shape[0]
    nums.append(num)
    print(f"{n}-граммы:", num)

print("Всего:", sum(nums))

3-граммы: 2844
4-граммы: 21544
5-граммы: 92321
6-граммы: 240263
Всего: 356972

# 3. Итог (после обобщения)

## 3.1. На всей коллекции документов

In [167]:
fin = []
lim_50 = []
lim_5 = []
for n in range(3, 7):
    df = pd.read_csv(f"./outcome files/dev_train_test/all_cool_{n}_grouped.csv", sep=",", low_memory=False)
    f = df.shape[0]
    l = df[df["total_entries"] > 50].shape[0]
    l5 = df[df["total_entries"] > 5].shape[0]
    print(f"{n}-граммы:")
    print("Итоговое число шаблонов:", f)
    print("Среди них с вхождением > 50:", l, f"({round(l * 100 / f, 2)}%)")
    print("Среди них с вхождением > 5:", l5, f"({round(l5 * 100 / f, 2)}%)")
    fin.append(f)
    lim_50.append(l)
    lim_5.append(l5)
print("Всего шаблонов:", sum(fin))
print("Среди них > 50:", sum(lim_50), f"({round(sum(lim_50) * 100 / sum(fin), 2)}%)")
print("Среди них > 5:", sum(lim_5), f"({round(sum(lim_5) * 100 / sum(fin), 2)}%)")

3-граммы:
Итоговое число шаблонов: 422
Среди них с вхождением > 50: 109 (25.83%)
Среди них с вхождением > 5: 170 (40.28%)
4-граммы:
Итоговое число шаблонов: 7912
Среди них с вхождением > 50: 359 (4.54%)
Среди них с вхождением > 5: 1758 (22.22%)
5-граммы:
Итоговое число шаблонов: 51441
Среди них с вхождением > 50: 448 (0.87%)
Среди них с вхождением > 5: 6577 (12.79%)
6-граммы:
Итоговое число шаблонов: 140177
Среди них с вхождением > 50: 194 (0.14%)
Среди них с вхождением > 5: 9470 (6.76%)
Всего шаблонов: 199952
Среди них > 50: 1110 (0.56%)
Среди них > 5: 17975 (8.99%)

## 3.2. Без test

In [168]:
fin = []
lim_50 = []
lim_5 = []
for n in range(3, 7):
    df = pd.read_csv(f"./outcome files/dev_train/all_cool_{n}_grouped.csv", sep=",", low_memory=False)
    f = df.shape[0]
    l = df[df["total_entries"] > 50].shape[0]
    l5 = df[df["total_entries"] > 5].shape[0]
    print(f"{n}-граммы:")
    print("Итоговое число шаблонов:", f)
    print("Среди них с вхождением > 50:", l, f"({round(l * 100 / f, 2)}%)")
    print("Среди них с вхождением > 5:", l5, f"({round(l5 * 100 / f, 2)}%)")
    fin.append(f)
    lim_50.append(l)
    lim_5.append(l5)
print("Всего шаблонов:", sum(fin))
print("Среди них > 50:", sum(lim_50), f"({round(sum(lim_50) * 100 / sum(fin), 2)}%)")
print("Среди них > 5:", sum(lim_5), f"({round(sum(lim_5) * 100 / sum(fin), 2)}%)")

3-граммы:
Итоговое число шаблонов: 428
Среди них с вхождением > 50: 111 (25.93%)
Среди них с вхождением > 5: 176 (41.12%)
4-граммы:
Итоговое число шаблонов: 7802
Среди них с вхождением > 50: 365 (4.68%)
Среди них с вхождением > 5: 1714 (21.97%)
5-граммы:
Итоговое число шаблонов: 49336
Среди них с вхождением > 50: 425 (0.86%)
Среди них с вхождением > 5: 6122 (12.41%)
6-граммы:
Итоговое число шаблонов: 130541
Среди них с вхождением > 50: 155 (0.12%)
Среди них с вхождением > 5: 8429 (6.46%)
Всего шаблонов: 188107
Среди них > 50: 1056 (0.56%)
Среди них > 5: 16441 (8.74%)

# 4. Топ-5 3 и 6 грамм

## 4.1 Для всей коллекции

In [169]:
df_3 = pd.read_csv(f"./outcome files/dev_train_test/all_cool_3_grouped.csv", sep=",", low_memory=False)

In [170]:
df_3.sort_values(by="total_entries", ascending=False).head()

     POS1  #host1  POS2  #host2   POS3  #host3  total_entries
42    ADP       0   ADJ       3   NOUN       0          15168
225  NOUN       0   ADJ       3   NOUN       0          14308
55    ADP       2  NOUN       0  PUNCT       0          13452
397  VERB       0   ADJ       3   NOUN       0           9059
180   DET       2  NOUN       0  PUNCT       0           7049

In [171]:
df_6 = pd.read_csv(f"./outcome files/dev_train_test/all_cool_6_grouped.csv", sep=",", low_memory=False)

In [180]:
df_6.sort_values(by="total_entries", ascending=False).head()

,POS1,#host1,POS2,#host2,POS3,#host3,POS4,#host4,POS5,#host5,POS6,#host6,total_entries
65244,NOUN,0,PUNCT,0,NOUN,0,PUNCT,5,NOUN,0,PUNCT,0,878
102563,PUNCT,0,NOUN,0,PUNCT,4,NOUN,0,PUNCT,6,NOUN,0,469
65815,NOUN,0,PUNCT,0,PRON,0,VERB,0,ADP,6,NOUN,0,256
92912,PROPN,0,PUNCT,0,PROPN,0,PUNCT,5,PROPN,0,PUNCT,0,252
52876,NOUN,0,ADP,5,ADJ,0,ADJ,0,NOUN,0,PUNCT,0,249

## 4.2. Без test

In [174]:
df_3 = pd.read_csv(f"./outcome files/dev_train/all_cool_3_grouped.csv", sep=",", low_memory=False)

In [175]:
df_3.sort_values(by="total_entries", ascending=False).head()

     POS1  #host1  POS2  #host2   POS3  #host3  total_entries
40    ADP       0   ADJ       3   NOUN       0          13557
224  NOUN       0   ADJ       3   NOUN       0          12955
403  VERB       0   ADJ       3   NOUN       0           8129
179   DET       2  NOUN       0  PUNCT       0           6377
14    ADJ       0   ADJ       3   NOUN       0           6242

In [176]:
df_6 = pd.read_csv(f"./outcome files/dev_train/all_cool_6_grouped.csv", sep=",", low_memory=False)

In [179]:
df_6.sort_values(by="total_entries", ascending=False).head()

,POS1,#host1,POS2,#host2,POS3,#host3,POS4,#host4,POS5,#host5,POS6,#host6,total_entries
65244,NOUN,0,PUNCT,0,NOUN,0,PUNCT,5,NOUN,0,PUNCT,0,878
102563,PUNCT,0,NOUN,0,PUNCT,4,NOUN,0,PUNCT,6,NOUN,0,469
65815,NOUN,0,PUNCT,0,PRON,0,VERB,0,ADP,6,NOUN,0,256
92912,PROPN,0,PUNCT,0,PROPN,0,PUNCT,5,PROPN,0,PUNCT,0,252
52876,NOUN,0,ADP,5,ADJ,0,ADJ,0,NOUN,0,PUNCT,0,249